body {
  background-color: #0d0d0e !important;
}


.check-box {
  padding-top: 4em;
  width: 26em;
  height: 2.5em;
  margin-bottom: 6em;
  cursor: pointer;
  position: relative;
}


.check-box:hover {
  accent-color: #fdfd96;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: rgba(1, 10, 7, 0.4);
  transform: translateY(-7px);
}

#text-container {
    width: 100%;
    height: 30%;
    border: solid #c5e0b4;
    color: rgba(255, 255, 255, 0.808);
    /* margin-bottom: 10px; */
}

.p-txt {
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  cursor: pointer;
}

#card-title {
  margin-top: 1.5em;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 801 !important;
}


.card-text {
  margin-top: 1em;
    margin-bottom: 3.5em;
    font-size: large;
  }


#submission-id {
  background: rgb(25,25,25);
  background: -moz-linear-gradient(180deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  background: -webkit-linear-gradient(180deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  background: linear-gradient(180deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#f2f2f2",GradientType=1);
  border-top-style: solid !important;
  border-bottom-style: groove !important;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  border:solid #c5e0b4;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 9em;
  margin-bottom: 10em;
  height: 800px;
}

.button-style {
  margin-top: 5em;
}

#container-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 17rem;
  padding-top: 3em;
  max-width: 1350px !important;
}

#title-id {
  background: rgb(25,25,25);
  background: -moz-linear-gradient(0deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  background: -webkit-linear-gradient(0deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  background: linear-gradient(0deg, rgba(25,25,25,1) 16%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 49%, rgba(76,76,76,1) 58%, rgba(115,115,115,1) 75%, rgba(153,153,153,1) 88%, rgba(191,191,191,1) 95%, rgba(242,242,242,1) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919",endColorstr="#f2f2f2",GradientType=1);
  padding: 5px;
  height:17em;
  margin-top: 5em;
  margin-bottom: 1px;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;
  border:solid #c5e0b4;

}

.h1, h1 {
  font-family: "Times New Roman", Times, serif !important;
  color: rgba(255, 255, 255, 0.808);
  /* color: #c5e0b4; */
  font-weight: 800 !important;
  font-size: 3.3em !important;
}

.card-body {
  font-family: "Poppins", sans-serif;
}

#page-card {
  background-color:#87cc32;
  height: 400px;
  -webkit-box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
  -moz-box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
  box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
}

#group-id {
  margin-top: 2em;
  -webkit-box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
  -moz-box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
  box-shadow: 21px 16px 9px 1px rgba(13,13,13,1);
}


.group-btn .btn {
  background-color: #87cc32;
  border: 1.5px solid #c5e0b4;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  height: 5em;
  width: 9em;
}

.group-btn .btn:not(:last-child) {
  border-right: none;
}

.group-btn .btn:hover {
  background-color: #fdfd96;
}