body {
  background-color: rgb(22, 22, 22) !important;
}


.check-box {
  padding-top: 4em;
  width: 26em;
  height: 2.5em;
  margin-bottom: 6em;
  cursor: pointer;
}


.check-box:hover {
  accent-color: #fdfd96
}

#text-container {
    width: 100%;
    height: 30%;
    background-color: #fdfd96;
    border: groove black;
    margin-bottom: 1px;
}

.p-txt {
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  cursor: pointer;
}

#card-title {
  margin-top: 1.5em;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 800 !important;
}


.card-text {
  margin-top: 1em;
    margin-bottom: 3.5em;
    font-size: large;
  }


#submission-id {
  background-color: cyan;
  border-top-style: groove !important;
  border-bottom-style: groove !important;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  border:solid black;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 9em;
  margin-bottom: 10em;
  height: 800px;
}

.button-style {
  margin-top: 5em;
}

#container-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 17rem;
  padding-top: 3em;
  background-color: cyan;
  max-width: 1350px !important;
}

#title-id {
  background-color: #111111;
  border: groove #AEF359;
  padding: 5px;
  height:17em;
  margin-top: 5em;
  margin-bottom: 1px;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;

}

.h1, h1 {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: 800 !important;
  font-size: 3.3em !important;
}

.card-body {
  font-family: "Poppins", sans-serif;
}

#page-card {
  background-color: #68b351;
  height: 400px;
  -webkit-box-shadow: 21px 16px 9px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 21px 16px 9px 1px rgba(0,0,0,0.6);
  box-shadow: 21px 16px 9px 1px rgba(0,0,0,0.6);
}

#group-id {
  margin-top: 2em;
}

.group-btn .btn {
  background-color: #68b351;
  border: 1.5px solid green;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  height: 5em;
  width: 9em;
}

.group-btn .btn:not(:last-child) {
  border-right: none;
}

.group-btn .btn:hover {
  background-color: #fdfd96
}

