
#description {

    font-size: 20px;

font-size: 20px;

color: white;
}

#founded {

    font-size: 20px; 

font-size: 20px; 

padding-top: 600px;
color: white;
}

#root {
    background-image: url(https://wallpapercave.com/wp/wp2529205.jpg);
}



#ImageTitle {
background-image: url(../public/assets/unknowntwo.png);
}